# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

#VSCODE
.vscode
src/验证码识别小程序.zip
src/2b873d897c6b424acbee065f5d31e8
src/4f02512ea12c3db46207c63ac5f550
src/9dc4e510eddebae273570fa5f5265eec
src/origin.png

#WAV
*.wav
src/PSO2音乐提取器 (测试版).zip
src/music.png
